.cloud-wrapper{
  position: fixed!important;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  opacity: .6;
}
.clouds{
  scale: 1.1;
  animation: cloud-move 10s ease-in-out infinite alternate;
}

.sun-rays-container {
  filter: blur(7px);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 0;
    will-change: transform;
  }
  
  .sun-ray {
    position: absolute;
    transform: skewX(45deg);
    will-change: transform;
    background: linear-gradient(180deg, #ffffff80, #fff 83.93442622950819%, #fff0);
    mask: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20.036247184684683%, rgba(0, 0, 0, 0) 36.17504222972973%, rgb(0, 0, 0) 55.4054054054054%, rgba(0, 0, 0, .13) 67.11711711711712%, rgba(0, 0, 0, 1) 78.23057432432432%, rgba(0, 0, 0, 0) 97.2972972972973%) add;
  }
  
  .ray-1 {
    top: -20%;
    left: 10%;
    width: 150px;
    height: 100%;
    animation: ray-move-1 11s ease-in-out infinite alternate;
  }
  
  .ray-2 {
    top: -73%;
    left: 30%;
    width: 40px;
    height: 200%;
    animation: ray-move-2 15s ease-in-out infinite alternate;
  }
  
  .ray-3 {
    top: -55%;
    left: 50%;
    width: 130px;
    height: 200%;
    animation: ray-move-3 13s ease-in-out infinite alternate;
  }
  
  .ray-4 {
    top: -45%;
    left: 70%;
    width: 90px;
    height: 200%;
    animation: ray-move-4 10s ease-in-out infinite alternate;
  }
  
  .ray-5 {
    top: -40%;
    left: 85%;
    width: 140px;
    height: 200%;
    animation: ray-move-5 16s ease-in-out infinite alternate;
  }
  
  @keyframes cloud-move {
    0% { transform: skewX(0deg) translateX(20px) scale(1); }
    100% { transform: skewX(5deg) translateX(-14px) scale(1.1); }
  }
  @keyframes ray-move-1 {
    0% { transform: skewX(45deg) translateX(0); }
    100% { transform: skewX(45deg) translateX(20px); }
  }
  @keyframes ray-move-2 {
    0% { transform: skewX(45deg) translateX(0); }
    100% { transform: skewX(45deg) translateX(-40px); }
  }
  
  @keyframes ray-move-3 {
    0% { transform: skewX(45deg) translateX(0); }
    100% { transform: skewX(45deg) translateX(10px); }
  }
  
  @keyframes ray-move-4 {
    0% { transform: skewX(45deg) translateX(0); }
    100% { transform: skewX(45deg) translateX(-14px); }
  }
  
  @keyframes ray-move-5 {
    0% { transform: skewX(45deg) translateX(0); }
    100% { transform: skewX(45deg) translateX(20px); }
  }
  
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    .ray-1 { width: 80px; }
    .ray-2 { width: 60px; }
    .ray-3 { width: 100px; }
    .ray-4 { width: 70px; }
    .ray-5 { width: 90px; }
  }